main
  section.add-food-section
    .options-container
      h1.page-header Add food
      input.add-food-search-bar(type='search')
      .option-buttons
        button.option-button.option-search-button
        button.option-button.option-create-button
    .food-cards
  include navigation-buttons.pug
