label.add-this-food-card-text(for='weight') Weight:
input.add-this-food-card-weight#weight(type='number', min='0', max='1000', step='1', required, autofocus)
label.add-this-food-card-text(for='weight') gr
input.add-this-food-card-button.add-this-food-card-add-button(type='submit', value='')
button.add-this-food-card-button.add-this-food-card-cancel-button
