main.add-food-page
  section.add-food-section
    h1 Add food
  section.navigation-buttons-container  
    button.navigation-button.eaten-foods-button
    button.navigation-button.add-food-page-home-button
    button.navigation-button.settings-button
