main.custom-foods-page
  section.custom-foods-section
    .custom-foods-options-container
      h1.custom-foods-header Custom foods
      .custom-foods-option-buttons
        button.custom-foods-option-button.custom-foods-save-button
        button.custom-foods-option-button.custom-foods-add-button
        button.custom-foods-option-button.custom-foods-edit-button
        button.custom-foods-option-button.custom-foods-cancel-button
    .custom-foods-cards
  section.navigation-buttons-container
    button.navigation-button.eaten-foods-button
    button.navigation-button.custom-foods-page-home-button
    button.navigation-button.settings-button
