main
  section.custom-foods-section
    .options-container
      h1.page-header Custom foods
      .option-buttons
        button.option-button.option-save-button
        button.option-button.option-create-button
        button.option-button.option-edit-button
        button.option-button.option-cancel-button
    .food-cards
  include navigation-buttons.pug
