extends layout.pug

block content
  aside
    table
      caption.foods-eaten-today-caption Foods eaten today:
      thead
        tr
          th Product name
          th Weight(gr)
          th Proteins
          th Fats
          th Carbs
          th Calories
      tbody
        tr
          td white bread
          td 100
          td 8.12
          td 2.11
          td 50.19
          td 242
      tfoot
        tr
          td total:
          td 100
          td 8.12
          td 2.11
          td 50.19
          td 242
