main.homepage
  section.calories-container
    .calories-chart
      .calories-chart-content
        p.calories-headline You still need to consume
        p.calories-number
        p.calories-subheadline calories to fit your daily need
      .alternative-calories-chart-content
        p.alternative-calories-chart-content-headline calories:
        p.alternative-calories-chart-content-number
        p.alternative-calories-chart-content-percent
  section.macros-container
    .macros-line
      .macros-image-container.proteins-image-container
      .macros-progress-bar
        .macros-progress-bar-inner.proteins-progress-bar-inner
          .percent-container.proteins-percent-container
    .macros-line
      .macros-image-container.fats-image-container
      .macros-progress-bar
        .macros-progress-bar-inner.fats-progress-bar-inner
          .percent-container.fats-percent-container
    .macros-line
      .macros-image-container.carbs-image-container
      .macros-progress-bar
        .macros-progress-bar-inner.carbs-progress-bar-inner
          .percent-container.carbs-percent-container
  section.buttons-container
    button.homepage-button.todays-food-button
    button.homepage-button.add-food-button
    button.homepage-button.settings-button
