
section.navigation-buttons-container
  button.navigation-button.eaten-foods-button
  case path
    when 'homepage'
      button.navigation-button.add-food-button
    default
      button.navigation-button.home-button
  button.navigation-button.settings-button
