.eaten-food-card
  .eaten-food-card-header
    strong
      span.eaten-food-card-name Total:
  p.eaten-food-card-info Calories: #{totalCalories} | Proteins: #{totalProteins} | Fats: #{totalFats} | Carbs: #{totalCarbs}
