.total-eaten-food-card
  .total-eaten-food-card-header
    strong
      span.total-eaten-food-card-name Total:
  p.total-eaten-food-card-info Calories: #{totalCalories} | Proteins: #{totalProteins} | Fats: #{totalFats} | Carbs: #{totalCarbs}
