html, body {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  font-size: 5vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.homepage, .add-food-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) and (min-aspect-ratio: 13/9) {
    flex-direction: row;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 33.333333%;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    flex-direction: row;
    width: 100%;
  }
}

section.calories-container {
  position: relative;
  width: 80%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 80%;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    height: 80%;
  }
}

.calories-chart {
  position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10%;
  overflow: hidden;
  background: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.calories-chart-sector {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: left bottom;
  transition: all 0.5s;
}

.calories-chart-content {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.alternative-calories-chart-content {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background: white;
  z-index: 2;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.calories-headline {
  margin: 0;
  font-size: 2.3vmin;
  @media (min-width: $desktop) {
    font-size: 1.5vmin;
  }
}

p.calories-number {
  margin: 0;
  font-size: 18vmin;
  @media (min-width: $desktop) {
    font-size: 12vmin;
  }
}

.calories-subheadline {
  margin: 0;
  font-size: 2vmin;
  @media (min-width: $desktop) {
    font-size: 1.35vmin;
  }
}

.alternative-calories-chart-content-headline {
  margin: 2vmin;
  font-size: 4vmin;
  @media (min-width: $desktop) {
    font-size: 2.5vmin;
  }
}

.alternative-calories-chart-content-number {
  margin: 2vmin;
  font-size: 9vmin;
  @media (min-width: $desktop) {
    font-size: 5vmin;
  }
}

.alternative-calories-chart-content-percent {
  margin: 2vmin;
  font-size: 4vmin;
  @media (min-width: $desktop) {
    font-size: 2.5vmin;
  }
}

.macros-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  flex: 2;
  width: 80%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 80%;
  }
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 100%;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    height: 80%;
  }
}

.macros-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15%;
}

.macros-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1vmin;
  align-items: center;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.proteins-image-container {
  background-image: url('../images/proteins.png');
}

.fats-image-container {
  background-image: url('../images/fats.png');
}

.carbs-image-container {
  background-image: url('../images/carbs.png');
}

.macros-progress-bar {
  flex: 1;
  height: 100%;
  background-color: lightgray;
  border: 1px solid black;
}

.macros-progress-bar-inner {
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: all 1s;
}

.proteins-progress-bar-inner {
  background-color: #109618;
}

.fats-progress-bar-inner {
  background-color: #ff9900;
}

.carbs-progress-bar-inner {
  background-color: #990099;
}

.percent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5vmin;
  margin-right: 1vmin;
}

.navigation-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 80%;
    width: 20%;
    flex-direction: column-reverse;
  }
  // soft keyboard is opened in portrait mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape)  and (max-device-aspect-ratio: 1/1){
    display: none;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
    height: 20%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    flex-direction: column-reverse;
    height: 80%;
    width: 20%;
  }
}

.navigation-button {
  height: 80%;
  background-color: white;
  background-size: 30%;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
  //transition: all 0.3s; 
  &:hover {
    //transform: scale(1.1);
    outline: none;
  }
  &:active {
    //transform: scale(0.9);
    outline: none;
  }
  &:focus {
    //transform: scale(1.1);
    outline: none;
  }
}

.eaten-foods-button {
  background-image: url('../images/table.png');
  background-position: 0% 50%;
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 100%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-position: 50% 100%;
  }
}

.add-food-page-home-button {
  background-image: url('../images/home.png');
  background-position: center;
}

.home-button {
  background-image: url('../images/home.png');
  background-position: 0% 50%;
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 100%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-position: 50% 100%;
  }
}

.add-food-button {
  background-image: url('../images/add.png');
  background-position: center;
  background-size: 30%;
}

.settings-button {
  background-image: url('../images/settings.png');
  background-position: 100% 50%;
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 0%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-position: 50% 0%;
  }
}

section.add-food-section {
  width: 80%;
  height: 80%;
  padding-top: 10%;
  box-sizing: border-box;
  margin-left: 0;
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    width: 93%;
    height: 80%;
    padding-left: 7%;
    padding-top: 0;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
    height: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    width: 93%;
    height: 80%;
    padding-left: 7%;
    padding-top: 0;
  }
}

.add-food-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  margin-bottom: 5%;
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    margin-bottom: 0;
  }
  // soft keyboard is opened in portrait mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape)  and (max-device-aspect-ratio: 1/1){
    margin-bottom: 5%;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    margin-bottom: 0;
  }
}

h1.add-food-header {
  height: 100%;
  line-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 7vmin;
  // desktop
  @media (min-width: $desktop) {
    font-size: 5vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    font-size: 7vmin;
  }
}

input.add-food-search-bar {
  height: 100%;
  display: none;
  flex: 1;
  border: 1px solid black;
  padding: 1vmin;
}

.add-food-option-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-food-option-button {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  &:hover {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.add-food-search-button {
  background-image: url('../images/search.png');
  margin-right: 5vmin;
  //desktop
  @media (min-width: $desktop) {
    margin-right: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    margin-right: 5vmin;
  }
}

.add-food-create-button {
  background-image: url('../images/create.png');
}

.add-food-cards {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-food-card {
  width: 100%;
  height: 12.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  &:first-child {
    border-top: none;
  }
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

h2.add-food-card-name {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    font-size: 4vmin;
  }
}

p.add-food-card-info {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 2vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    font-size: 3vmin;
  }
}

.add-this-food-card {
  width: 100%;
  height: 12.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

span.add-this-food-card-text {
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    font-size: 4vmin;
  }
}

input.add-this-food-card-weight {
  width: 10vmin;
  border: 1px solid black;
  padding: 1vmin;
  margin: 0 1vmin 0 1vmin;
}

.add-this-food-card-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  background-color: white;
  border: none;
  &:hover {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.add-this-food-card-add-button {
  margin: 0 5vmin 0 5vmin;
  background-image: url('../images/add.png');
  // desktop
  @media (min-width: $desktop) {
    margin: 0 3vmin 0 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    margin: 0 5vmin 0 5vmin;
  }
}

.add-this-food-card-cancel-button {
  background-image: url('../images/cancel.png');
}



// .login-title {
//   color: #555;
//   font-size: 1.5rem;
//   font-weight: normal;
//   display: block;
// }

// .sign-out {
//   display: block;
//   margin-top: 0.75rem;
//   margin-bottom: 1rem;
//   font-size: 1.25rem;
// }

// .delete-account {
//   display: block;
//   margin-top: 0.75rem;
//   margin-bottom: 1rem;
//   font-size: 0.75rem;
// }