/* breakpoints */
$tablet: 768px;
$desktop: 1280px;

/* sizes */
$section: 80vmin;
$sectionDesktop: 100vmax / 3 * 0.8;
$vminDesktop: 1vmax / 3;
$smallButton: 3.15vh;
$smallButtonLandscape: 5.04vh;
$mediumButton: $section * 0.8 * 0.1;
$mediumButtonDesktop: $sectionDesktop * 0.8 * 0.1;
