@import "common";

.add-food-search-bar {
  display: none;
  flex: 1;
  height: 100%;
  padding: 1vmin;
  border: 1px solid black;
}

.add-food-cards {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-food-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid black;

  &:first-child {
    border-top: none;
  }
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

.add-food-card-header {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 4vmin;
  }
}

p.add-food-card-info {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 2vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 3vmin;
  }
}

.add-this-food-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

.add-this-food-card-text {
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 4vmin;
  }
}

.add-this-food-card-weight {
  width: 10vmin;
  height: $mediumButton;
  margin: 0 1vmin 0 1vmin;
  padding: 1vmin;
  border: 1px solid black;

  @media (min-width: $desktop) {
    height: $mediumButtonDesktop;
  }

  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    height: $mediumButton;
  }
}

.add-this-food-card-button {
  width: $mediumButton;
  height: $mediumButton;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border: none;

  @media (min-width: $desktop) {
    width: $mediumButtonDesktop;
    height: $mediumButtonDesktop;
  }

  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    width: $mediumButtonDesktop;
    height: $mediumButton;
  }
}

.add-this-food-card-add-button {
  margin: 0 5vmin 0 5vmin;
  background-image: url("../images/add.png");
  // desktop
  @media (min-width: $desktop) {
    margin: 0 3vmin 0 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin: 0 5vmin 0 5vmin;
  }
}

.add-this-food-card-cancel-button {
  background-image: url("../images/cancel.png");
}
