@import "custom-variables";
@import "forms";
@import 'app';

// html, body {
//   font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

.noscript {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  height: 10%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noscript p {
  margin: 0;
  color: #FFF;
  font-weight: bold;
}
  
// .vertical-center {
//     min-height: 100%;
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
// }

// .alert {
//   font-size: 1.25rem;
// }

// ul.user-details {
//     list-style: none;
// }