@import "common";

html,
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 5vmin;
  background-color: white;
}

button {
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.homepage,
.add-food-page,
.create-food-page,
.custom-foods-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) and (min-aspect-ratio: 13/9) {
    flex-direction: row;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 33.333333%;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    flex-direction: row;
    width: 100%;
  }
}

section.calories-container {
  position: relative;
  width: 80%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 80%;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    height: 80%;
  }
}

.calories-chart {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  margin: 10%;
  font-family: "Montserrat", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  background: #f2f2f2;
  border: 1px solid black;
  border-radius: 50%;
}

.calories-chart-sector {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 50%;
  transform-origin: left bottom;
  transition: all 0.5s;
}

.calories-chart-content {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

.alternative-calories-chart-content {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

.calories-headline {
  margin: 0;
  font-size: 2.3vmin;

  @media (min-width: $desktop) {
    font-size: 1.5vmin;
  }
}

p.calories-number {
  margin: 0;
  font-size: 18vmin;

  @media (min-width: $desktop) {
    font-size: 12vmin;
  }
}

.calories-subheadline {
  margin: 0;
  font-size: 1.9vmin;

  @media (min-width: $desktop) {
    font-size: 1.35vmin;
  }
}

.alternative-calories-chart-content-headline {
  margin: 2vmin;
  font-size: 4vmin;

  @media (min-width: $desktop) {
    font-size: 2.5vmin;
  }
}

.alternative-calories-chart-content-number {
  margin: 2vmin;
  font-size: 9vmin;

  @media (min-width: $desktop) {
    font-size: 5vmin;
  }
}

.alternative-calories-chart-content-percent {
  margin: 2vmin;
  font-size: 4vmin;

  @media (min-width: $desktop) {
    font-size: 2.5vmin;
  }
}

.macros-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  flex: 2;
  width: 80%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 80%;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    height: 80%;
  }
}

.macros-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15%;
}

.macros-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-right: 1vmin;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.proteins-image-container {
  background-image: url("../images/proteins.png");
}

.fats-image-container {
  background-image: url("../images/fats.png");
}

.carbs-image-container {
  background-image: url("../images/carbs.png");
}

.macros-progress-bar {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: #f2f2f2;
  border: 1px solid black;
}

.macros-progress-bar-inner {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: all 1s;
}

.proteins-progress-bar-inner {
  background-color: #109618;
}

.fats-progress-bar-inner {
  background-color: #ff9900;
}

.carbs-progress-bar-inner {
  background-color: #990099;
}

.percent-container {
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 1vmin;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5vmin;
}

.navigation-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  // mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    flex-direction: column-reverse;
    width: 20%;
    height: 80%;
  }
  // soft keyboard is opened in portrait mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape)  and (max-device-aspect-ratio: 1/1) {
    display: none;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
    height: 20%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    flex-direction: column-reverse;
    width: 20%;
    height: 80%;
  }
}

.navigation-button {
  height: 80%;
  padding: 0;
  background-color: white;
  background-size: 30%;
  background-repeat: no-repeat;
  border: 0;
}

.eaten-foods-button {
  background-image: url("../images/table.png");
  background-position: 0% 50%;

  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 100%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    background-position: 50% 100%;
  }
}

.add-food-page-home-button,
.create-food-page-home-button,
.custom-foods-page-home-button {
  background-image: url("../images/home.png");
  background-position: center;
}

.home-button {
  background-image: url("../images/home.png");
  background-position: 0% 50%;

  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 100%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    background-position: 50% 100%;
  }
}

.add-food-button {
  background-image: url("../images/add.png");
  background-position: center;
  background-size: 30%;
}

.settings-button {
  background-image: url("../images/settings.png");
  background-position: 100% 50%;

  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    background-position: 50% 0%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    background-position: 50% 0%;
  }
}

.add-food-section,
.create-food-section,
.custom-foods-section {
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  margin-left: 0;
  padding-top: 10%;
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    width: 93%;
    height: 80%;
    padding-left: 7%;
    padding-top: 0;
  }
  // desktop
  @media (min-width: $desktop) {
    width: 80%;
    height: 80%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    width: 93%;
    height: 80%;
    padding-left: 7%;
    padding-top: 0;
  }
}

.add-food-options-container,
.create-food-options-container,
.custom-foods-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  margin-bottom: 5%;

  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    margin-bottom: 0;
  }
  // soft keyboard is opened in portrait mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape)  and (max-device-aspect-ratio: 1/1) {
    margin-bottom: 5%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin-bottom: 0;
  }
}

.add-food-header,
.create-food-header,
.custom-foods-header {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 7vmin;
  line-height: 100%;
  // desktop
  @media (min-width: $desktop) {
    font-size: 5vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 7vmin;
  }
}

.add-food-option-buttons,
.create-food-option-buttons,
.custom-foods-option-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.add-food-option-button,
.create-food-option-button,
.custom-foods-option-button {
  height: 100%;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border: none;
}

.add-food-search-button {
  margin-right: 5vmin;
  background-image: url("../images/search.png");
  //desktop
  @media (min-width: $desktop) {
    margin-right: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin-right: 5vmin;
  }
}

.add-food-create-button {
  background-image: url("../images/edit.png");
}

.create-food-cancel-button,
.custom-foods-cancel-button {
  background-image: url("../images/cancel.png");
}

.create-food-saved-button,
.custom-foods-edit-button,
.custom-foods-save-button {
  margin-right: 5vmin;
  //desktop
  @media (min-width: $desktop) {
    margin-right: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin-right: 5vmin;
  }
}

.create-food-saved-button {
  background-image: url("../images/saved.png");
}

.custom-foods-edit-button {
  background-image: url("../images/edit.png");
}

.custom-foods-save-button {
  display: none;
  background-image: url("../images/save.png");
}

.custom-foods-add-button {
  display: none;
  background-image: url("../images/add.png");
}

.add-food-cards,
.custom-foods-cards {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-food-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid black;

  &:first-child {
    border-top: none;
  }
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

.add-food-card-header,
.custom-food-card-header {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 4vmin;
  }
}

p.add-food-card-info {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // desktop
  @media (min-width: $desktop) {
    font-size: 2vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 3vmin;
  }
}

.add-this-food-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

.add-this-food-card-text {
  margin: 0;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 4vmin;
  }
}

.add-this-food-card-weight {
  width: 10vmin;
  margin: 0 1vmin 0 1vmin;
  padding: 1vmin;
  border: 1px solid black;
}

.add-this-food-card-button {
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border: none;
}

.add-this-food-card-add-button {
  margin: 0 5vmin 0 5vmin;
  background-image: url("../images/add.png");
  // desktop
  @media (min-width: $desktop) {
    margin: 0 3vmin 0 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin: 0 5vmin 0 5vmin;
  }
}

.add-this-food-card-cancel-button {
  background-image: url("../images/cancel.png");
}

.create-food-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.create-food-inputs-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 25%;
}

.create-food-input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

.create-food-save-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;

  @media (orientation: landscape) {
    justify-content: flex-end;
  }
}

.create-food-save-button {
  margin-top: 40%;
  padding: 0;
  background-image: url("../images/save.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border: none;

  @media (orientation: landscape) {
    margin-top: 0%;
  }
  // desktop
  @media (min-width: $desktop) {
    margin-top: 40%;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin-top: 0;
  }
}

.create-food-input-label {
  margin-bottom: 1vmin;
  padding: 0;
  font-size: 4vmin;
  font-weight: normal;
  // desktop
  @media (min-width: $desktop) {
    font-size: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    font-size: 4vmin;
  }
}

.create-food-input {
  box-sizing: border-box;
  width: 90%;
}

.custom-food-card-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  border-top: 1px solid black;

  &:first-child {
    border-top: none;
  }
  //mobile device in landscape mode
  @media (max-width: #{$desktop - 1}) and (orientation: landscape) {
    height: 20%;
  }
}

.custom-food-card-buttons-container {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  right: -100%;
  height: 100%;
}

.custom-food-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.custom-food-card-button {
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border: none;
}

.custom-food-card-edit-button {
  margin-right: 5vmin;
  background-image: url("../images/edit-pencil.png");
  //desktop
  @media (min-width: $desktop) {
    margin-right: 3vmin;
  }
  // iPad Pro in landscape mode
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (min-resolution: 1.5dppx) {
    margin-right: 5vmin;
  }
}

.custom-food-card-delete-button {
  background-image: url("../images/delete.png");
}

.login-title {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  color: #555555;
}

.sign-out {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.delete-account {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
